@font-face {
    font-family: custom;
    src: url(../fonts/camcorder_ms_reg_6pre-webfont.ttf);
}


body {
    font-family: 'Overpass Mono', monospace;
    font-size: 44px;
    background: linear-gradient(to left, rgb(126, 169, 144), rgb(202, 166, 186));
    /* background-image: url(../images/dazzle-1.jpg); */
    background-size: cover;
    transition-property: background;
    transition-duration: 3s;
    color: white;

}
.name {
    font-family: custom;
    position: fixed;
    bottom: 250px;
    left: 18%;
    font-size:30px;
    letter-spacing: 5px;
    padding: 1px 5px 1px 5px;
    color: linear-gradient(to right, rgb(126, 169, 144), rgb(202, 166, 186));
}
.pm {
    bottom: 200px;
    font-size: 13px;
}
.lam {
    bottom: 220px;
    font-size: 13px;
}

.name:hover{
    color: rgb(133, 196, 159);
    /* color: lightblue; */
}


.stuff{
    width: auto;
    text-align: center;
    margin-top: 300px;
    margin-left: 28%;
    margin-right: 28%;
    margin-bottom:-360px;
    z-index: 3;
    background: rgba(255, 255, 255, 0.247);
    font-size: 30px;
    /* position: absolute;
    top: 300px;
    left: 300px; */
}

nav {
    position: fixed;
    top: 100px;
    right: 10%;
}
.nav-item {
    margin: 15px;
    text-transform: uppercase;
    font-size: 18px;
    /* background: linear-gradient(to right, rgb(126, 169, 144), rgb(202, 166, 186)); */
    padding: 1px 4px 1px 4px;
    transition-property: text-transform;
    transition-duration: 1s;
}

.nav-item:hover {
    /* color: lightblue; */
    color: rgb(215, 179, 199);
}

.ticker {
    flex-wrap: wrap;
}
.ticker-fill {
    position: fixed;
    top:0px;
    right:0px;
    font-size: 10px;
    text-transform: uppercase;
}

.center{
    margin: 30px;
    padding:350px;
    font-size: 60px;
    background: linear-gradient(to top, rgba(122, 130, 164, 0.4), rgb(200, 202, 166, 0.4));
    /* background: rgba(122, 130, 164, 0.4); */
    display: inline-block;
    /* box-shadow:8px 12px 5px rgba(135, 135, 135, 0.34); */

}

.center:hover {
    color: rgb(215, 179, 199);
}

.center-scroll {
    overflow: scroll;
    white-space: nowrap;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);
}

